

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table ng-controller="bookCtrl as ctrl" class="table table-bordered bordered table-striped table-condensed bookTable" id="book_table" style="width:100%">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Payment Amount</th>
            <th>Payment Method</th>
            <th>IsActive</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in ctrl.books">
            <td>{{book.bookName}}</td>
            <td>{{book.paymentAmount}}</td>
            <td>{{book.paymentMethod.paymentMethodName}}</td>
            <td>{{book.isActive}}</td>
            <td>
                <span ng-click="ctrl.edit(book)" class='glyphicon glyphicon-pencil'>Edit</span>
                <span ng-click="ctrl.detail(book)" class='glyphicon glyphicon-user'>Detail</span>
                <span ng-click="ctrl.delete(book)" class='glyphicon glyphicon-remove'>Delete</span>
            </td>
        </tr>
    </tbody>

</table>
